{% extends 'uchet/base.html' %}
{% block content %}
        <div class="filters">
            <form method="get" action="">
                {{form.search}}
                {{form.status}}
                <button type="submit">Найти</button>
            </form>
            <a href="{% url 'create_bid' %}" class="btn">Создать заявку</a>
        </div>
        <div>
            {% for b in bids %}
            <a href="{% url 'show_bid' bid_id=b.id %}">
                <div class="element" style="position: relative;">
                    <span class="bid-status status-{{ b.status }}">
                        {{ b.get_status_display }}
                    </span>
                    <div style="margin-top: 15px;">
                        <p>Техобслуживание</p>
                        <p><strong>Описание проблемы:</strong> {{ b.problem_text }}</p>
                        <p><strong>Пользователь:</strong> {{b.employee.lastname}} {{b.employee.firstname}}
                            {{b.employee.middlename|default:""}} </p>
                        <p><strong>Дата создания:</strong> {{ b.time_create }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% if bids.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if bids.has_previous %}
                <a href="?page={{ bids.previous_page_number }}&{{ base_params }}" class="btn">← Предыдущая</a>
            {% endif %}

            <span class="current-page">Страница {{ bids.number }} из {{ bids.paginator.num_pages }}</span>

            {% if bids.has_next %}
                <a href="?page={{ bids.next_page_number }}&{{ base_params }}" class="btn">Следующая →</a>
            {% endif %}
        </div>
        {% endif %}
{% endblock %}