<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Регистрация</title>
</head>
<body>
    <header>

    </header>
    <div>
        <form method="post" class="main">
            <h1>Регистрация</h1>
            <input type="text" placeholder="Введите фамилию">
            <input type="text" placeholder="Введите имя">
            <input type="text" placeholder="Введите отчество">
            <input type="tel" placeholder="Введите номер телефона">
            <input type="text" placeholder="Введите отдел">
            <input type="password" placeholder="Введите пароль">
            <input type="password" placeholder="Повторите пароль">
            <button type="submit">Зарегистрироваться</button>
            <a href="" style="text-align: center;">Уже есть аккаунт? Авторизируйтесь</a>
        </form>
    </div>
</body>
</html>